body{
	max-height: 100vh;
}

.wrapper{
	width: 100%;
}

header{
	background-color: #000;
	color: #fff;
	padding: 5px 0;
	font-size: 2em;
}

header > i{
	padding: 10px 5px 0 0;
	font-size: 0.6em !important;
}

header > i:hover{
	cursor: pointer;
	color: #fff;
}

.plaintext{
}

.plaintext textarea{
	height: 80vh;
	width: 100%;
	resize: none;
	overflow-y: auto;
	background-color: #efefef;
	border: none;
}

.htmlcontent{
	overflow: none;
}

.htmlcontent > div{
	height: 80vh;
	max-height: 80vh;
	overflow-y: auto;
	padding: 10px;
}

.controls{
	margin-left: 15px;
}

.controls .btn-default{
	border: none;
	border-radius: 0;
}